<div class="container">
  <mat-card class="login-container">
    <mat-card-title> <div class="mat-headline">Login</div></mat-card-title>
    <mat-card-content>
      <div class="py-4">
        <mat-form-field class="w-full">
          <input matInput placeholder="Username" value="someone@mail.com" />
        </mat-form-field>
      </div>
      <div class="py-4">
        <mat-form-field class="w-full">
          <input
            matInput
            type="password"
            placeholder="Password"
            value="someone_password"
          />
        </mat-form-field>
      </div>
      <div class="actions flex justify-end">
        <button mat-raised-button color="primary" routerLink="/dashboard/home">
          Login
        </button>
      </div>
    </mat-card-content>
  </mat-card>
</div>
