<div class="calculator">
  <div class="container border calculator-container p-3">
    <div class="mat-headline px-2">Calculator</div>
    <div class="px-2">
      <input
        #expressionControl
        [value]="expression"
        (change)="updateExpression(expressionControl.value)"
        tabindex="0"
        class="screen px-2 py-4 border-0 w-full"
      />
    </div>
    <div class="keypad flex flex-wrap justify-between">
      <button
        *ngFor="let button of buttons"
        class="button border p-4"
        (click)="addToExpression(button)"
      >
        {{ button }}
      </button>

      <button class="button border p-4" (click)="evaluate()">
        <b>=</b>
      </button>
      <button class="button border p-4" (click)="expression = ''">
        C
      </button>
    </div>
  </div>
</div>
