<div class="calculator">
  <div class="container border calculator-container p-3">
    <div class="mat-headline px-2">Calculator</div>
    <div class="px-2">
      <input
        [value]="expression"
        (change)="expression = $event.target.value"
        tabindex="0"
        class="screen px-2 py-4 border-0 w-full"
      />
    </div>
    <div class="keypad flex flex-wrap justify-between">
      <button class="button border p-4" (click)="addToExpression('1')">
        1
      </button>
      <button class="button border p-4" (click)="addToExpression('2')">
        2
      </button>
      <button class="button border p-4" (click)="addToExpression('3')">
        3
      </button>
      <button class="button border p-4" (click)="addToExpression('+')">
        +
      </button>
      <button class="button border p-4" (click)="addToExpression('4')">
        4
      </button>
      <button class="button border p-4" (click)="addToExpression('5')">
        5
      </button>
      <button class="button border p-4" (click)="addToExpression('6')">
        6
      </button>
      <button class="button border p-4" (click)="addToExpression('-')">
        -
      </button>
      <button class="button border p-4" (click)="addToExpression('7')">
        7
      </button>
      <button class="button border p-4" (click)="addToExpression('8')">
        8
      </button>
      <button class="button border p-4" (click)="addToExpression('9')">
        9
      </button>
      <button class="button border p-4" (click)="addToExpression('*')">
        *
      </button>
      <button class="button border p-4" (click)="addToExpression('0')">
        0
      </button>
      <button class="button border p-4" (click)="addToExpression('/')">
        /
      </button>
      <button class="button border p-4" (click)="evaluate()">
        <b>=</b>
      </button>
      <button class="button border p-4" (click)="expression = ''">
        C
      </button>
    </div>
  </div>
</div>
{{ expression }}
